// Color variables
$color-primary: #161618;
$color-secondary: #141416;
$color-tertiary: #55c57a;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: rgb(20, 20, 20);
$color-grey-dark-2: #777;
$color-grey-dark-3: rgb(167, 167, 167);
$color-grey-dark: #999;

$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
// font
$font-display: "Open Sans", sans-serif;

//margin
$margin-bottom-big: 6rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px