.heading__tertiary {
  padding-left: 1rem;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.heading__secondary {
  font-size: 2.3rem;
  text-decoration: none;
}

.heading__primary {
  font-size: 2.2rem;
  text-decoration: none;
  margin-bottom: 4rem;
  color: $color-tertiary;
}

.see-all {
  color: $color-grey-light-3;
  font-size: 1.6rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.heading__form {
  text-align: center;
  font-size: 3rem;
}

.none-text-decoration {
  text-decoration: none;
  color: $color-white;
}

.color-tertiary {
  color: $color-tertiary;
}
