.margin-bottom-big {
  margin-bottom: 4rem;
}

// margin-left: 2rem;
// margin-top: 2rem;

.margin-left-2rem {
  margin-left: 2rem;
}

.margin-top-2rem {
  margin-top: 2rem;
}

.margin-top-4rem {
  margin-top: 4rem;
}

.link {
  text-decoration: none;
  color: inherit;
}

.color-primary {
  color: $color-tertiary;
}
